<div id="divDetalleContratacion" class="modal modalMensajeForo">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn btn-warning alignRight" ng-click="CerrarContratacion()">Cerrar</div>
            <div class="btn btn-danger alignRight" ng-click="BajaSeleccionadosContratacion()">Baja a seleccionados</div>
        </div>
    </div>

    <div class="row">
        <div ng-if="Contratacion.Id == 0" class="col-xs-12 subrayado">
            <h2>Nueva contratación grupal</h2>
        </div>
        <div ng-if="Contratacion.Id != 0" class="col-xs-12 subrayado">
            <h2>Actualizar contratación grupal</h2>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Titulo:</div>
                <div class="col-xs-8"> <input type="text" ng-model="Contratacion.Titulo" /></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Descripción:</div>
                <div class="col-xs-8"> <textarea ng-model="Contratacion.Descripcion" rows="5"></textarea></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Máx. Hijos:</div>
                <div class="col-xs-1"><input type="text" ng-model="Contratacion.MaximoHijos"></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Precio Total:</div>
                <div class="col-xs-1"><input type="text" ng-model="Contratacion.PrecioTotal"></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Locación:</div>
                <div class="col-xs-8"><input type="text" ng-model="Contratacion.Locacion"></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    Día:
                </div>
                <div class="col-xs-2">
                    <datepicker datepicker-show="{{ctrl.visibility}}" date-format="d/M/y">
                        <input ng-model="Contratacion.FechaContratacion" type="text" class="angular-datepicker-input" />
                    </datepicker>
                </div>
                <div class="col-xs-1">
                    Hora:
                </div>
                <div class="col-xs-1">
                    <input type="text" ng-model="Contratacion.HoraContratacion" />
                </div>
                <div class="col-xs-1">
                    <input type="text" ng-model="Contratacion.MinutoContratacion" />
                </div>

            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Fotos:</div>
                <div class="col-xs-4">
                    @using (Html.BeginForm("UploadPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "formUsuarioPhoto" }))
                    {
                        <input type="file" name="fileInput" id="fileInput" />
                    }
                </div>
                <div class="col-xs-4">
                    <a href="#" class="btn-mini btn-primary btn-xs alignLeft" ng-click="SubirFotoContratacion(Contratacion.Id)">
                        <span class="glyphicon glyphicon-edit"></span> Añadir
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2 contenedorPhoto" ng-repeat="contrataciones in Contratacion.Fotografias">
                        <div class="row">
                            <div class="col-xs-12">
                                <img alt="" class="photo" ng-src="{{contrataciones.RutaFoto}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p><input type="checkbox" ng-model="contrataciones.Baja" />Eliminar</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="radio" name="fotoPrincipal" ng-checked="contrataciones.EsPrincipal==true" ng-model="contrataciones.EsPrincipal" value="true" />Principal
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="col-xs-12">
            <a href="#" class="btn btn-primary btn-sm alignRight" ng-click="GuardarContratacion()">
                <span class="glyphicon glyphicon-edit"></span> Guardar
            </a>
        </div>

    </div>

    <div class="row">
        <div ng-if="Quedada.Id != 0" class="col-xs-12 subrayado">
            <h2>Apuntados</h2>
        </div>
        <div class="col-xs-12" ng-repeat="apuntado in Contratacion.Apuntados">
            <div class="row">
                <div class="col-xs-1"><img alt="persona" ng-src="{{(apuntado.RutaFotoApuntado != null && apuntado.RutaFotoApuntado != '') ? apuntado.RutaFotoApuntado : '/Content/images/person.jpg'  }}" ng-click="MostrarUsuario(apuntado.IdUsuario)" class="photoThumb" /></div>
                <div class="col-xs-5">{{apuntado.NombreUsuario}}</div>
                <div class="col-xs-5">Adultos: {{apuntado.ApuntadosAdultos}}. Niños: {{apuntado.ApuntadosNinos}}</div>
            </div>
        </div>

    </div>

    <div class="row">
        <div ng-if="Contratacion.Id != 0" class="col-xs-12 subrayado">
            <h2>Apuntarse a contratacion</h2>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="row">
                <div class="col-xs-4">Niños:</div>
                <div class="col-xs-2"> <input type="text" ng-model="Contratacion.ApuntadosNinos" /></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="#" class="btn btn-primary btn-sm alignRight" ng-click="GuardarApunteContratacion()">
                <span class="glyphicon glyphicon-edit"></span> Apuntarse
            </a>
        </div>
    </div>

</div>

