<div id="divMensajeForo" class="modal modalMensajeForo">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn btn-warning alignRight" ng-click="CerrarMensajeForo()">Cerrar</div>
        </div>
    </div>

    <div ng-if="MensajeForo.Id == 0" class="row subrayado">
        <div class="col-xs-12"><h2>Mensaje</h2> </div>
    </div>

    <div ng-if="DatosUsuario.Id != 0" class="row">
        <div class="col-xs-12"><h3>Tema: {{ MensajeForo.TituloPadre }} </h3> </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Titulo:</div>
                <div class="col-xs-8"> <input type="text" ng-model="MensajeForo.Titulo" /></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">Mensaje:</div>
                <div class="col-xs-8"><textarea type="text" ng-model="MensajeForo.Mensaje" ></textarea></div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="EdicionForo==true">
        <div class="col-xs-12">
            <div class="btn btn-primary alignRight" ng-click="GuardarMensajeForo()">Guardar</div>
        </div>
    </div>
    <div class="row" ng-if="DatosUsuario.Id != 0 && EdicionForo==false">
        <div class="col-xs-12">
            <div class="btn btn-primary alignRight" ng-click="ContestarMensaje()">Contestar</div>
        </div>
    </div>
</div>