<div id="divUsuario" class="modal modalUsuario">

    <div class="row">
        <div class="col-xs-12">
            <div class="btn btn-warning alignRight" ng-click="CerrarUsuario()">Cerrar</div>
        </div>
    </div>
     
    <div class="row">
        <div class="col-xs-2">Usuario:</div>
        <div class="col-xs-10"></div>
    </div>

    <div class="row">
        <div class="col-xs-2">Nombre:</div>
        <div class="col-xs-10">{{DatosUsuario.Nombres}}</div>
    </div>

    <div class="row">
        <div class="col-xs-2">Primer apellido:</div>
        <div class="col-xs-10">{{DatosUsuario.ApellidoPrimero}}</div>
    </div>

    <div class="row">
        <div class="col-xs-2">Segundo apellido:</div>
        <div class="col-xs-10">{{DatosUsuario.ApellidoSegundo}}</div>
    </div>

    <div class="row">
        <div class="col-xs-2">Locacion:</div>
        <div class="col-xs-10"></div>
    </div>

    <div class="row">
        <div class="col-xs-2">Fotos:</div>
        <div class="col-xs-10"></div>
    </div>

    <div class="row">
        <div class="col-xs-2"><div class="btn btn-default alignRight" ng-click="GuardarUsuario()">Guardar</div></div>
    </div>


</div>