<div id="divListaAccesorios" class="marginTopBody">
    @*<div datepicker datepicker-class="test-custom-class" date-min-limit="2016/02/28" date-max-limit="2016/03/03" date-typer="true">
            <input ng-model="Quedada.FechaAlta" type="text" class="angular-datepicker-input" />
        </div>*@
    <div class="container" ng-init="BuscarOfertas()">
        <div class="row subrayado">
            <div class="col-xs-12">
                <h1 class="col-xs-12 col-sm-6 alignLeft">Accesorios</h1>
                <div class="btn btn-danger alignRight" ng-if="DatosUsuarioLogado!=null && DatosUsuarioLogado!=undefined && DatosUsuarioLogado.Id != 0" ng-click="BajaSeleccionadosOferta()">Baja a seleccionados</div>
                <div class="btn btn-default alignRight" ng-if="DatosUsuarioLogado!=null && DatosUsuarioLogado!=undefined && DatosUsuarioLogado.Id != 0" ng-click="AltaOferta()">Nueva oferta</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 TemaForo" ng-repeat="oferta in Ofertas" ng-click="GetOferta(oferta.Id)">
                <div class="row backGroundForo1">
                    <div class="col-xs-1">
                        <input type="checkbox" ng-model="oferta.Seleccionado" />
                    </div>
                    <div class="col-xs-11">
                        <h2>{{oferta.Titulo}}</h2>
                    </div>
                </div>
                <div class="row cuerpoTemaForo">
                    <div class="col-xs-2">
                        <img alt="persona" ng-src="{{(oferta.RutaFotoPrincipal != null && quedada.RutaFotoPrincipal != '') ? quedada.RutaFotoPrincipal : '/Content/images/person.jpg'  }}" class="photoLogado" />
                    </div>
                    <div class="col-xs-10">
                        <h2>{{oferta.Resumen}}</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@Html.Partial("_DetalleAccesorio")