
<div id="divAvisoAutocierre" class="modal modalAviso">
    <div class="row">
        <div class="col-xs-12 centrado"><div class="loader"></div></div>
    </div>
    <div class="row">
        <div class="col-xs-12 centrado"><b>{{DatosUsuario.MensajeAviso}}</b></div>
    </div>
</div>