
<div id="divReiniciarPassword" class="modal modalLogin">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn btn-warning alignRight" ng-click="CerrarReiniciarPassword()">Cerrar</div>
        </div>
    </div>
    <div class="row subrayado">
        <div class="col-xs-12"><h2>Ingresa tu e-mail registrado para enviarte la nueva contraseña</h2> </div>
    </div>

    <div class="row cajaLogin">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-3">
                    <h3>Email:</h3>
                </div>
                <div class="col-xs-9">
                    <input ng-model="DatosUsuarioLogado.Email" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{DatosUsuarioLogado.IncidenciaUsuario}}
                </div>
            </div>
            <div class="row cajaLoginBotones">
                <div class="col-xs-12">
                    <div class="btn btn-info" ng-click="SolicitarReiniciar()">Solicitar password</div>
                </div>
            </div>
        </div>
    </div>
</div>